.left  { float: left; }
.right { float: right; }

body {
  background-color: white;

  font-family: "Prata";
  font-size: 16px;

  cursor: default;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }

a {
  text-decoration: none;

  color: orangered;
}

section {
  height: 500px;

  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;

  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.25);

  i {
    font-size: 4em;
  }

  aside {
    opacity: 0.25;
    font-style: italic;
  }

  .grids {
    padding-top: 150px;
  }
}

#intro {
  box-shadow: none;

  .bubble {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;

    background-color: black;
    color: white;

    border-radius: 175px;

    z-index: 1;

    .greet {
      padding-top: 125px;

      font-size: 4em;
    }
  }
}

#programming {
  background-image: url('//place.manatee.lc/1000/500.jpg');

  color: white;
  text-shadow: 0 2px 5px black;
}

#music {
  box-shadow: none;
}

#graphics {

}