* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: #000a1f;
    background-image: url('./noise.png');

    scroll-behavior: unset;
    overscroll-behavior: none;

    font-family:
        "Futura",
        "Jost",
        sans-serif;
}
